<html>
    <head>
        <title>宜人贷福从天降8888元红包任你抢_宜人贷</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
		<meta http-equiv="Cache-Control" content="no-transform" /> 
        <link href="http://www.yirendai.com/images/favicon.ico" rel="shortcut icon">
        <link href="http://www.yirendai.com/images/favicon.ico" rel="Bookmark">
        <link rel="stylesheet" href="{$public}/css/2013_loan.css" type="text/css">
        <link type="text/css" rel="stylesheet" href="{$public}/css/newyrd/base.css?ver=1">
        <script type="text/javascript">base_url='http://www.yirendai.com';</script>
        <script type="text/javascript" src="{$public}/js/jquery-1.8.2.min.js"></script>

        <link href="{$public}/css/common.css" rel="stylesheet" type="text/css" />

        <link href="{$public}/css/page.cms.css" rel="stylesheet" type="text/css" />

        <link href="{$public}/css/page.yao.css" rel="stylesheet" type="text/css" />

        <link href="{$public}/css/jquery-ui-1.9.1.custom.css"  rel="stylesheet"  type="text/css">

        <link href="{$public}/css/header.2013.css?v=1" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{$public}/js/jquery-ui-1.9.1.custom.js"></script>

        <script type="text/javascript" src="{$public}/js/login.js"></script>

        <script type="text/javascript" src="{$public}/js/common_dev.js"></script>
        <!--newjsq s-->
        <link rel="stylesheet" href="{$public}/css/miniCal.css" />
		<script type="text/javascript" src="{$public}/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="{$public}/js/dialog/jquery.artDialog.js?skin=yrd-dialog"></script>
		<script type="text/javascript" src="{$public}/js/dialog/iframeTools.js"></script>
		<script type="text/javascript">
			alert("__CONTROLLER__");
		</script>
    </head>